body {
    font-family: 'Raleway';font-size: 18px;
    color:#222;
}


header {
	padding: 28px 35px 0 35px;
}

#block-block-7 {

	margin-top: -20px;
}

h1.header__site-name {
  font-size: 3.6em;
}

a.header__site-link:hover {
	text-decoration: none;
}

.header__logo {
	width: 100px;
}

.layout-swap {
  padding-top: 0px;
}

.header__name-and-slogan {
  margin: 16px 26px 17px 28px;
}

.header__site-link:visited,
.header__site-link:link {
	tex t-decoration: underline;
}

.header__site-slogan {
	margin: 15px 0 0 52px;
    font-size: 2em;
    color: #0275ae;
    font-weight: 500;
}

.front main h1{
	display: none;
}

h2 {
	font-size: 3em;
	text-align: center;
}

h3 {
	font-size: 1.3em;
	margin: 0.5em 0;
}

ul {
	margin: 0.5em 0;
}

#block-block-6 {
  float: right;
  margin-top: -120px;
  text-align: right;

}

.view-news .views_slideshow_cycle_main .views-field-title a {
	text-decoration: none;
	text-transform: uppercase;
	right: 30px;
	bottom: 30px;
	font-size: 40px;
	color: #fff;
	font-weight: bold;
	position: absolute;
	z-index: 800;
	background: rgba(0,0,0,0.6);
    line-height: 1em;
    padding: 10px;
}

.view-news .views_slideshow_cycle_main .views-field-title a::after {
  content: " ▶";
}

.view-news .views-field-field-image {
	border: 1px solid #888;
	z-index: 700;
	position: relative;
}

.view-news .views-slideshow-pager-fields .views_slideshow_pager_field_item a {
	display: block;
	text-indent: -9999px;
}

.view-news .views-slideshow-pager-fields .views_slideshow_pager_field_item .views-content-title {
	float: left;
	width: 50px;
}

.view-news .views-slideshow-pager-fields .views_slideshow_pager_field_item.views-row-last .views-content-title {
  width: 10px;
}

.view-news .views-slideshow-pager-fields {
	width: 270px;
	margin: 19px 0 0 40%;
}

.view-news .views-slideshow-pager-fields .views_slideshow_pager_field_item .views-content-title::before {
  content: "";
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  width: 14px;
  height: 14px;
  background: #0275ae;

  display: block;
  cursor: pointer;
  box-shadow: 0px 0px 37px #333;
}

.view-news .views-field-field-image,
.view-activities .views-field-field-illustration img,
.paragraphs-item-image-and-text img,
.node-article .field-name-field-image img {

	box-shadow: 0px 0px 37px #333;
}

.field-name-field-facilities,
.field-name-field-technical-description,
.field-name-field-price,
.field-name-field-notes,
#map-anchor {
  
}

#map-anchor {
  margin-bottom: 20px;
  cursor: pointer;
}

.paragraphs-item-image-and-text .field-name-field-image,
.node-article .field-name-field-image {
  text-align: center;
}

.view-news .views-field-field-image {
  font-size: 0;
  line-height: 0;
  
}


.view-flats {
	overflow: hidden;
}

.view-flats .views-row {
  float: left;
  margin: 0 100px 30px 0;
  width: 18%;

}

.view-flats .views-row:nth-child(4n) {
  margin-right: 0;
}

.view-flats .views-field-title a {
	text-decoration: none;
}

.view-flats .views-field-title h3 {
	margin: 0;
  line-height: 1em;
}

#block-views-flats-block .view-header {
  margin-bottom: 20px;
}

#block-views-flats-block .view-header p {
  margin: 0;
}

.view-activities .views-row {
	clear: both;
}

.view-activities .views-row {
  clear: both;
}

.view-activities .views-field-field-illustration {
	float: left;
	margin-right: 45px;
	height: 210px;
}







.divider {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top:-30px;
  left: 50%;
  background: url(../images/wave.png);
  height: 100px;
  background-size: 100% 100px;
  text-indent: -9999px;
  opacity: 0.8;
  border: none;
  transform: rotate(-1deg);
}

.node-11 strong {
  font-size: 1.4em;
}

#block-views-activities-block-1 h2 {
  margin: 0 0 1em 0;
}

footer #block-block-3{
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

footer iframe {
	width: 100%;
}

#block-block-4 h3 {
  font-size: 1em;
    font-weight: normal;
    line-height: 1.2em;
    text-align: center;
}

#block-block-4 h2 {
font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

#block-block-4 p {
  text-align: center;
  
  font-size: 1.6em;
}

#block-block-4 a,
#block-block-6 a {
	color: #0c6fac;
	text-decoration: none;

}

.node-flat .field-name-field-images {
  width: 100%;
	float: left;
}

.node-flat .field-name-field-images .field-item {
	float: left;
	margin: 5px;
}

.node-flat .field-name-field-images .field-item {
  font-size: 0;
  line-height: 0;
}

.node-flat .field ul {
	m argin-left: 416px;
  f loat: left;
}

#imageData {
	display:none;
}

#arrow-1, #arrow-2, #arrow-3, #arrow-4 {
  position:absolute;
  top:50px;
  left:50px;
  width: 60px;
  height: 60px;
}

#arrow-2 {
  transform: rotate(90deg);
}

#arrow-3 {
  transform: rotate(180deg);
}

#arrow-4 {
  transform: rotate(270deg);
}

#map {
  position: relative;
  background: url(../images/map.jpg);
  background-size: 100%;
  width:100%;
  height: 910px;
  clear: both;
}

.op {
  background: rgba(255,255,255,0.8);
  position: absolute;
}

.node-25 .op.specop {
    width:90px;
    height: 25px;
    top:365px;
    left:711px;
    transform: rotate(121deg);
}

@media screen and (max-width: 560px) {

  .layout-center {
    max-width: none;
    width: 100%;
  }

  header {
    padding: 20px 0;
  }

  h1.header__site-name {
    font-size: 1.8em;
    line-height: 1em;
  }

  .header__name-and-slogan {
    width: 70%;
    margin: 0;
  }

  .header__site-slogan {
    margin: 0;
    font-size: 1em;
  }

  .header__region {
    float: none;
    clear: both;
    width: 100%;
  }

  #block-block-6 {
    float: none;
    margin: 0;
    text-align: left;
    font-size: 0.8em;
  }

  .divider {
    background-size: 100% 50px;
    background-repeat: no-repeat;
  }

  .view-news .views_slideshow_cycle_main .views-field-title a {
    font-size: 18px;
  }

  .view-news .views-slideshow-pager-fields {
    margin-left: 25%;
  }

  .view-flats .views-row {
    float: left;
    margin: 0px 6% 30px 0;
    width: 44%;
  }



}







